.main{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	width: 70%;
	border: 2px solid #053A27;
}
.header{
	grid-column: 1/4;
	background-color: #053A27;
	display: grid;
	padding: 50px;
	margin-bottom: 30px;
}
.name{
	grid-column: 1/3;
	color: white;
	font-size: 1.5em;
}
.img{
	grid-column: 3/4;
	border: 10px solid #053A27;
	margin: 80px 50px -100px 50px;
}
.content-left{
	grid-column: 1/3;
	display: grid;
	border-top: 2px solid #05412E;
	margin: 40px 70px 20px 70px;
	padding-top: 40px;
}
.content-right{
	grid-column: 3/4;
	border-top: 2px solid #05412E;
	margin: 40px 70px 20px 70px;
	padding-top: 40px;
}
.content-title{
	grid-column: 1/3;
	margin-bottom: 30px;
}
.elm-left{
	grid-column: 1/2;
}
.elm-right{
	grid-column: 2/3;
}
.progress1{
	background-color: #DFEAE6;
	width: 60%;
}
.progress1-col{
	display: inherit;
	background-color: #053A27;
	width:75%;
	height:7px;
}
.content-left-3fr{
	grid-column: 1/3;
	display: flex;	
	justify-content: space-between;
	padding-right: 90px;
}
.content-right-2fr{
	display: grid;
	grid-column: 3/4;
}
.lang1{
	grid-column: 1/2;
	display: inline;

}
.lang2{
	grid-column: 2/3;
	display: inline;
	align-self: center;
}

.block{
	grid-column: 1/4;
	padding: 30px;
}
h5{
	font-weight: normal;
}
p{
	font-size: 1.1em;
}
footer{
	display: flex;
	grid-column: 1/4;
	justify-content: space-around;
	background-color: #05412E;
	text-align: center;
	padding: 50px 10px 50px 10px;
	margin: 50px 0px 0px 0px;
}
a{
	color: white;
	font-size: 1.1em;
}